.servers-component{
    color : white;
    width: 130px;
    padding : 4px;
}

.add-che-server{
    background-color: #282e44;
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1px;
  }
  
  .add-che-server:hover {
    background-color: #3b629c;
    color: "white";
  }

  .server-name{
    background-color: #282e44;
    color: white;
    border: none;
    font-size: 14px;
    margin : 5px 0; 
    text-align : left;
    width : 100%;
    cursor: pointer;
  }

  .server-name:hover {
    background-color: #3b629c;
    color: "white";
}