.servers-list{
    color : white;
    font-family : Courier-New;
    padding : 6px;
    height: auto;
    height: 100%;
    border-left-color: #ffcc00;
    border: 0px 0px 2px 0px;
    margin: 0px;

}
