.sidebar-component{
  background-color: #282e44;
  transition: .3s ease;
}

.flexItem{
  flex-grow : 1;
}

.toggle-sidebar{
  height:50px;
  margin : 6px;
  border: none;
  color: white;
  background: #282e44;
  cursor: pointer;
}

.toggle-sidebar:focus{
  outline: none;
}

.double-right-pointing-angle{
  font-size: 2.5em;
  font-weight: 40;
}

.double-left-pointing-angle{
  font-size: 2.5em;
  font-weight: 40;
}
