.workspaces-list{
    color : white;
    font-family : Courier-New;
    padding : 6px;
}

.create-workspace{
  background-color: #282e44;
  color: white;
  border: none;
  height : 100%;
  margin : 5px 0; 
  text-align : left;
  width : 100%;
}

.create-workspace:hover {
  background-color: #3b629c;
  color: "white";
}

.workspace-status-running {
    height: 8px;
    width: 8px;
    background-color: #008000;
    border-radius: 50%;
    display: inline-block;
}

.workspace-status-stopped {
    height: 8px;
    width: 8px;
    border: 1px solid white;
    background-color: #282e44;
    border-radius: 50%;
    display: inline-block;
}

.workspace-status-spinner{
    display:inline-block;
    line-height:inherit;
    vertical-align:middle;
}

.workspace-status-spinner .spinner{
    width:20px;
    height: 22px;
    font-size: 8px;
}

div{
      width: 2px;
      border-radius: 0;
      margin-right: 2px;
    }

.workspace-status-error{
    height: 8px;
    width: 8px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
}

.workspace-bm-menu{
    height: 100%;
 }

.bm-item:hover {
    background-color: #3b629c;
    color: "white";
}

.bm-item{
  background-color: #282e44;
  color: white;
  border: none;
  height : 100%;
  margin : 5px 0; 
  text-align : left;
  width : 100%;
}

